@page "/listings"
@inject FilterService FilterService
@inject ApiService ApiService
@inject NavigationManager NavigationManager
@using BlazorMSEstatesUI.Components.Layout
@implements IDisposable
@rendermode InteractiveServer

<PageTitle>Listings</PageTitle>

<SearchListings/>

<HeadContent>
    <meta name="description" content="Explore our exclusive property listings in Phuket with MS Estates. Find the perfect home or investment opportunity.">
    <meta name="keywords" content="Phuket property listings, Exclusive properties, MS Estates listings">
    <meta property="og:title" content="Exclusive Property Listings by MS Estates in Phuket">
    <meta property="og:description" content="Explore our property listings in Phuket with MS Estates. Find the perfect home, villa, pool villa, house or investment opportunity.">
</HeadContent>


<section class="listings-content m-0">
    <div class="container">
        <div class="row mt-1 mb-2">
            <div class="col-2">
                <h3 class="mb-0 mt-2">Listings</h3>
            </div>
            <div class="order-by col-2 offset-md-8 offset-5">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        Order by
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" @onclick="() => OnSortChange(true)">Price - High to Low</a>
                        </li>
                        <li>
                            <a class="dropdown-item" @onclick="() => OnSortChange(false)">Price - Low to High</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            @if (_filteredListings is not null)
            {
                foreach (var l in _filteredListings)
                {
                    <div class="col-12 col-md-6 col-xl-4 pb-4">
                        <div class="single-featured-property mb-50">
                            <NavLink href="@GetListingUri(l.Id)" target="_blank" ForceReload="true">
                                <div class="property-thumb">
                                    <img loading="lazy" class="img-fluid" src="@l.ImageUrls.FirstOrDefault()" alt="Thumbnail @l.ListingName in @l.Location.Location">
                                    <div class="tag">
                                        <span>For @l.AdvertisementType.AdvertisementType</span>
                                    </div>
                                    <div class="list-price">
                                        <p>@l.Price?.ToString("N0") ฿</p>
                                    </div>
                                </div>
                                <div class="property-content">
                                    <h4>@l.ListingName</h4>
                                    <p class="location">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" fill=#000000 class="bi bi-geo-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                                        </svg>
                                        @l.Location.Location
                                    </p>
                                    <p>@l.ShortDescription</p>
                                    <div class="property-meta-data d-flex align-items-end justify-content-between">
                                        <div class="bathroom">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 512 512" fill=#000000>
                                                <path d="M96 77.3c0-7.3 5.9-13.3 13.3-13.3c3.5 0 6.9 1.4 9.4 3.9l14.9 14.9C130 91.8 128 101.7 128 112c0 19.9 7.2 38 19.2 52c-5.3 9.2-4 21.1 3.8 29c9.4 9.4 24.6 9.4 33.9 0L289 89c9.4-9.4 9.4-24.6 0-33.9c-7.9-7.9-19.8-9.1-29-3.8C246 39.2 227.9 32 208 32c-10.3 0-20.2 2-29.2 5.5L163.9 22.6C149.4 8.1 129.7 0 109.3 0C66.6 0 32 34.6 32 77.3V256c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H96V77.3zM32 352v16c0 28.4 12.4 54 32 71.6V480c0 17.7 14.3 32 32 32s32-14.3 32-32V464H384v16c0 17.7 14.3 32 32 32s32-14.3 32-32V439.6c19.6-17.6 32-43.1 32-71.6V352H32z"/>
                                            </svg>
                                            <span>@l.Bathrooms</span>
                                        </div>
                                        <div class="bed">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 640 512" fill=#000000>
                                                <path d="M32 32c17.7 0 32 14.3 32 32V320H288V160c0-17.7 14.3-32 32-32H544c53 0 96 43 96 96V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V416H352 320 64v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V64C0 46.3 14.3 32 32 32zm144 96a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"/>
                                            </svg>
                                            <span>@l.Bedrooms</span>
                                        </div>
                                        <div class="space">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" fill=#000000 class="bi bi-bounding-box-circles" viewBox="0 0 16 16">
                                                <path d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                            </svg>
                                            <span>@l.Size sq m</span>
                                        </div>
                                    </div>
                                </div>
                            </NavLink>
                        </div>
                    </div>
                }

                <div class="col-12 text-center" style="margin-bottom: 1rem;">
                    <button class="btn btn-primary w-75 my-3 btn-lg" @onclick="LoadMore" style="font-size: 1rem;">Show More Listings</button>
                </div>
            }
        </div>
        <button class="btn btn-primary btn-sm scrollToTopButton" onclick="window.scrollTo(0,0)">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
            Go to Top
        </button>
    </div>
</section>

@code {
    private List<ListingModel>? _listings;
    private List<ListingModel>? _filteredListings;

    protected override void OnInitialized()
    {
        FilterService.OnSearchFilterChanged += HandleSearchFilterChanged;
        FilterService.GetQueryParameters(new Uri(NavigationManager.Uri));
    }

    protected override async Task OnInitializedAsync()
    {
        _listings = await ApiService.GetListings();
        _filteredListings = FilterService.FilterListings(_listings);
    }

    private void OnSortChange(bool sortValue)
    {
        if (sortValue)
        {
            FilterService.SortedBy = "Price - High to Low";
        }
        else
        {
            FilterService.SortedBy = "Price - Low to High";
        }
    }

    private void HandleSearchFilterChanged()
    {
        FilterListings();
        StateHasChanged();
    }

    private void FilterListings()
    {
        var uriBuilder = new UriBuilder(NavigationManager.Uri)
        {
            Path = "/listings",
            Query = $"searchInput={FilterService.SearchInput}&minPrice={FilterService.MinPriceInput}&maxPrice={FilterService.MaxPriceInput}&category={FilterService.SelectedCategory}&location={FilterService.SelectedLocation}&selectedAdvertisement={FilterService.SelectedAdvertisement}&sortedBy={FilterService.SortedBy}"
        };
        NavigationManager.NavigateTo(uriBuilder.ToString(), false);
        FilterService.ItemsToShow = 42;
        _filteredListings = FilterService.FilterListings(_listings);
    }

    private void LoadMore()
    {
        FilterService.ItemsToShow += 42;
        _filteredListings = FilterService.FilterListings(_listings);
    }

    public void Dispose()
    {
        FilterService.OnSearchFilterChanged -= HandleSearchFilterChanged;
    }

    private string GetListingUri(string listingId)
    {
        return $"/listing-detail/{listingId}";
    }

}